:host {
  height: 100%;
  width: 100%;

  .sidebar-container {
    display: grid;
    grid-template-rows: 15vh 75vh 10vh;
    justify-content: center;
    width: 100%;

    .sidebar-wrap {
      display: flex;
      align-items: center;

      .sidebar-grid-one {
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        height: fit-content;
        gap: 1em;

        .card-logo {
          width: 64px;

          .card-logo-content {
            display: flex;
            justify-content: center;

            h1 {
              font-family: montserrat-blackitalic;
              font-size: 2.5em;
              color: var(--primary-color);
              cursor: pointer;
            }
          }
        }

        .sidebar-details {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .sidebar-details-brand {
            font-style: italic;
            font-size: 14px;
          }

          .sidebar-details-profile {
            font-size: 14px;
          }
        }
      }
    }

    .sidebar-grid-two {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .sidebar-grid-two-inside-one {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2.5em;
        width: 100%;

        div {
          display: flex;
          gap: 1em;
          font-size: 16px;
          font-family: montserrat-regular;
          width: 100%;

          .fa-calendar-days {
            font-size: 21px;
            cursor: pointer;
          }
        }

        div {
          display: flex;
          gap: 1em;
          font-size: 16px;
          font-family: montserrat-regular;
          width: fit-content;

          .fa-bookmark {
            font-size: 21px;
            cursor: pointer;
            margin-left: 2px;
          }
        }

        div {
          display: flex;
          justify-content: flex-start;
          gap: 1em;
          font-size: 16px;
          font-family: montserrat-regular;
          width: fit-content;

          .fa-circle-question {
            font-size: 21px;
            cursor: pointer;
          }
        }

        div {
          display: flex;
          gap: 1em;
          font-size: 16px;
          font-family: montserrat-regular;
          width: fit-content;

          .fa-gauge {
            font-size: 21px;
            cursor: pointer;
          }
        }
      }

      .sidebar-grid-two-inside-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
      }
    }

    .sidebar-grid-three {
      grid-row: 3;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 100%;
      gap: 1em;
      margin-bottom: 10px;

      .logout-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        font-family: montserrat-regular;
        width: fit-content;
        gap: 1em;

        .fa-door-open {
          font-size: 21px;
          cursor: pointer;
        }
      }
    }
  }
}

.active {
  color: #007bff;
}

.sidebar-grid-two-inside-one {
  div {
    cursor: pointer;
  }

  div:hover {
    color: #007bff;
  }
}

.sidebar-grid-two-inside-two {
  div {
    cursor: pointer;
  }

  div:hover {
    color: #007bff;
  }
}

.sidebar-grid-three {
  .logout-link {
    cursor: pointer;
  }

  .logout-link:hover {
    color: #007bff;
  }
}

.navlink-opened {
  display: flex;
  visibility: visible;
}

.navlink-closed {
  display: none;
  visibility: hidden;
}

.profile-opened {
  width: 100%;
}

.profile-closed {
  width: 40px;
}

p {
  margin: 0;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}

.mat-mdc-card-content:first-child {
  padding-top: 0;
}

::ng-deep .light-theme .card-logo {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px !important;
}

::ng-deep .dark-theme .card-logo {
  box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 1px !important;
}

::ng-deep .mat-mdc-menu-item {
  text-align: center !important;
}

::ng-deep .mat-mdc-menu-item-text {
  font-size: 18px !important;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0px !important;
}

::ng-deep .light-theme .profile-menu {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

::ng-deep .light-theme .sidebar-container {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px !important;
}

::ng-deep .dark-theme .sidebar-container {
  box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 1px !important;
}
