:host {
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 10vh;
  width: 100%;
  margin-left: auto;

  .footer-grid-one {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
  }

  .footer-grid-two {
  }

  .footer-grid-three {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;

    .socials-link {
      a {
        text-decoration: none;
        box-shadow: 0px 1px 0px #000;
      }
    }
  }
}
