:host {
  height: 100%;
  width: 100%;

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-content {
      display: flex;

      .login-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        height: 600px;
        width: 600px;

        .login-title {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;

          h1 {
            font-family: montserrat-blackitalic;
            font-size: 2.5em;
            color: var(--primary-color);
          }
        }

        .login-wrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .login-form {
            display: flex;
            flex-direction: column;
            width: 18em;
          }

          .button-container {
            display: flex;
            justify-content: center;

            button {
              width: 100%;
              text-transform: uppercase;
            }
          }

          .login-bottom-wrap {
            display: flex;
            flex-direction: column;
            gap: 2em;

            .sign-up-redirection {
              display: flex;
              justify-content: space-between;
              font-size: 14px;

              .sign-up-link {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

::ng-deep .light-theme .login-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px !important;
}

::ng-deep .dark-theme .login-card {
  box-shadow: rgba(255, 255, 255, 0.15) 0px 0px 0px 1px !important;
}
