@if (this.componentService.headerVisible === true) {
<div class="header-container">
  <div class="header-flex-one">
    @if (this.componentService.datepicker === true) {
    <form>
      <div class="header-date-row">
        <div>
          <mat-form-field>
            <mat-label>Begin of reservation</mat-label>
            <input matInput [matDatepicker]="picker1" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <hr />
        </div>
        <div>
          <mat-form-field>
            <mat-label>End of reservation</mat-label>
            <input matInput [matDatepicker]="picker2" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </form>
    } @else if (this.componentService.myReservationsTitle === true) {
    <div class="my-reservations-title">
      <mat-form-field class="reservations-filter">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>
    </div>
    } @else if (this.componentService.dashboardTitle === true) {
    <div class="dashboard-title">
      <h1>Dashboard</h1>
    </div>
    } @else if (this.componentService.settingsTitle === true) {
    <div class="dashboard-title">
      <h1>Settings</h1>
    </div>
    }
  </div>
  <div class="header-flex-two">
    <div class="button-container">
      @if (this.componentService.datepicker === true) {
      <div>
        <button mat-stroked-button (click)="saveDate()">Confirm</button>
      </div>
      } @else if (this.componentService.department === true) {
      <div>
        <button mat-stroked-button>Cancel</button>
      </div>
      <div>
        <button mat-stroked-button>Continue</button>
      </div>
      } @else if (this.componentService.myReservationsTitle === true) {
      <div>
        <button mat-stroked-button routerLink="/my-reservations">
          My Reservations
        </button>
      </div>
      <div>
        <button mat-stroked-button routerLink="/all-reservations">
          All Reservations
        </button>
      </div>
      }
    </div>
  </div>
</div>
}
