.darkmode-container {
  .darkmode-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 24px;
    }
  }
}

::ng-deep .mat-mdc-slide-toggle .mdc-switch {
  width: 42px !important;
}

::ng-deep .mdc-switch .mdc-switch__track {
  height: 24px !important;
  border-radius: 12px !important;
}

::ng-deep .mdc-switch__icons {
  display: none !important;
}

::ng-deep html .mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-hover-state-layer-color: #ffffff;
}

::ng-deep .mdc-switch:enabled .mdc-switch__shadow {
  background-color: #ffffff;
}

::ng-deep .mdc-switch:enabled .mdc-switch__track::before {
  background-color: var(--primary-color) !important;
}

::ng-deep .mdc-switch:enabled .mdc-switch__track::after {
  background-color: var(--primary-color) !important;
}

::ng-deep.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled)
  .mdc-switch__shadow {
  background-color: #ffffff !important;
}

::ng-deep.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled)
  .mdc-switch__track::after {
  background-color: var(--primary-color) !important;
}

::ng-deep
  .mat-mdc-slide-toggle
  .mdc-switch--unselected
  .mdc-switch__handle:has(.mdc-switch__icons) {
  margin-left: 2px !important;
}

::ng-deep
  .dark-theme
  .mat-mdc-slide-toggle
  .mdc-switch--selected
  .mdc-switch__handle:has(.mdc-switch__icons) {
  margin-left: -3px !important;
}

::ng-deep .mdc-switch:enabled .mdc-switch__shadow {
  box-shadow: none !important;
}
